<!DOCTYPE module PUBLIC
'-//Puppy Crawl//DTD Check Configuration 1.2//EN'
'http://www.puppycrawl.com/dtds/configuration_1_2.dtd'>
<module name='Checker'>
    <module name='TreeWalker'>
        <module name='ConstantName'/>
        <module name='EmptyBlock'/>
        <module name='AnonInnerLength'/>
        <module name='AvoidNestedBlocks'/>
        <module name='AvoidStarImport'/>
        <module name='DeclarationOrder'/>
        <module name='DefaultComesLast'/>
        <module name='EmptyForInitializerPad'/>
        <module name='EmptyStatement'/>
        <module name='EqualsHashCode'/>
        <module name='ExecutableStatementCount'/>
        <module name='ExplicitInitialization'/>
        <module name='FileLength'/>
        <module name='FinalClass'/>
        <!-- module name='FinalLocalVariable'/ -->
        <!-- module name='FinalParameters'/ -->
        <module name='HiddenField'/>
        <module name='IllegalCatch'/>
        <module name='ImportOrder'/>
        <module name='Indentation'/>
        <module name='JUnitTestCase'/>
        <module name='JavadocMethod'/>
        <module name='JavadocStyle'/>
        <module name='JavadocType'/>
        <module name='JavadocVariable'/>
        <module name='LeftCurly'/>
        <module name='LineLength'/>
        <module name='LocalVariableName'/>
        <!-- module name='MethodLength'>
            <property name='max' value='30'/>
            <property name='countEmpty' value='false' />
        </module-->
        <module name='MethodName'/>
        <module name='MethodParamPad'/>
        <module name='MissingSwitchDefault'/>
        <module name='ModifiedControlVariable'/>
        <module name='MultipleStringLiterals'>
            <property name='allowedDuplicates' value='3'/>
        </module>
        <module name='MultipleVariableDeclarations'/>
        <module name='NeedBraces'/>
        <module name='NestedIfDepth'/>
        <module name='NestedTryDepth'/>
        <module name='NoWhitespaceAfter'/>
        <module name='NoWhitespaceBefore'/>
        <module name='OperatorWrap'/>
        <module name='PackageDeclaration'/>
        <module name='PackageName'/>
        <module name='ParameterAssignment'/>
        <module name='ParameterName'/>
        <module name='ParameterName'/>
        <module name='ParameterNumber'/>
        <module name='ParenPad'/>
        <module name='RedundantImport'/>
        <module name='RedundantModifier'/>
        <module name='RedundantThrows'/>
        <module name='ReturnCount'/>
        <module name='RightCurly'/>
        <module name='SimplifyBooleanExpression'/>
        <module name='SimplifyBooleanReturn'/>
        <module name='StaticVariableName'/>
        <module name='StringLiteralEquality'/>
        <module name='TabCharacter'/>
        <module name='ThrowsCount'/>
        <module name='TodoComment'/>
        <module name='TrailingComment'/>
        <module name='TypeName'/>
        <module name='TypecastParenPad'/>
        <module name='UnnecessaryParentheses'/>
        <module name='UnusedImports'/>
        <!-- module name='WhitespaceAfter'/>
        <module name='WhitespaceAround'/-->
    </module>
    <module name='NewlineAtEndOfFile'/>
    <module name='StrictDuplicateCode'/>
</module>
